*{
    margin: 0;
    padding: 0;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body{
    background-color: #F7F3ED;
    width: 1912px;
    margin: 0 auto;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 21px 60px;
    font-family: "Poppins";
    color: #2E4F3D;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.164);
}

nav{
    display: flex;
    gap: 20px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
}

nav span{
    border: solid 1px #34584423;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.164);
}

nav :active{
    background-color: #2E4F3D;
    color: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.164);
    cursor: pointer;
}

h2{
    font-size: 36px;
}

#page1{
    
}

.main-page-text{
    font-family: "Poppins";
    color: #2E4F3D;
    font-size: 80px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
}

.up-down-main-text{
    font-size: 16px;
    font-family: "Poppins";
    margin-left: 95px;
    color: #2C2C2C;
    display: flex;
    position: relative;
    top: 280px;
    flex-direction: column;
}

.main-image{
    display: flex;
    justify-self: flex-end;
    position: relative;
    bottom: 100px;
    right: 90px;
}

.main-button{
    border: solid 1px #34584423;
    background-color: #2E4F3D;
    border-radius: 30px;
    padding: 13px 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.164);
    color: white;
    display: inline-block;
    position: relative;
    bottom: 210px;
    left: 80px;
    font-family: "Poppins";
}